* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.wrapper {
  width: 1170px;
  margin: auto;
}
header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./images/Worship-1.jpg);
  height: 70vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.nav-area {
  float: right;
  list-style: none;
  margin-top: 30px;
}
.nav-area li {
  display: inline-block;
}
.nav-area li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  font-family: poppins;
  font-size: 16px;
  text-transform: uppercase;
}
.nav-area li a:hover {
  background: #fff;
  color: #333;
}
.logo {
  float: left;
  width: 50px;
  height: 30px;
}
.logo img {
  width: 100%;
  padding: 15px 0;
}
.welcome-text {
  position: absolute;
  width: 1000px;
  height: 300px;
  margin: 10% 17%;
  text-align: center;
}
.welcome-text h1 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
}
.welcome-text h1 span {
  color: #ecb365;
  font-size: 100px;
}
.welcome-text a {
  border: 1px solid #fff;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
  color: #fff;
}
.welcome-text a:hover {
  background: #fff;
  color: #333;
}
/*resposive*/

@media (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
  .logo {
    float: none;
    width: 50%;
    text-align: center;
    margin: auto;
  }
  img {
    width: auto;
  }
  .nav-area {
    float: none;
    margin-top: 0;
  }
  .nav-area li a {
    padding: 5px;
    font-size: 11px;
  }
  .nav-area {
    text-align: center;
  }
  .welcome-text {
    width: 100%;
    height: auto;
    margin: 30% 0;
  }
  .welcome-text h1 {
    font-size: 30px;
  }
}

/* Copyright */
.footer {
  position: absolute;
  width: 100%;
  background-color: #bf9270;
  color: white;
  text-align: center;
}
.copyright {
  padding: 30px 0;
  border-top: 1px solid rgba(38, 41, 44, 0.05);
  text-align: center;
}

.copyright p {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

.column {
  float: left;
  width: 32.15%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.column2 {
  float: left;
  width: 32.15%;
  margin-bottom: 16px;
  margin-left: 33.3%;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 2px 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: black;
  font-weight: bold;
  background-color: #ffeddb;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #bf9270;
  color: white;
}
